{% extends "layout/default" %} 

{% block "title" %}About us{% endblock %}

{% block "content" %}


<h1>Training Application</h1>
<h3>Version 0.1</h3>

<p>This application was created as a part of the course "Data modeling and database applications" at Aalesund University College.
    The purpose of the application is to help keep track of your workout regime, and your progress.</p>

<ul>
    <li>
        <b>Created by</b><br>
        Per Myren <br>
        Kristian Honningsvag <br>
        Tor-Martin Holen <br>
    </li>
</ul>


{% endblock %}
