{% extends "layout/default" %}

{% block "title" %}Profile{% endblock %}

{% block "content" %}

<h2>Change Your Account Info</h2>
<p>No need to fill in everything, <b>just fill in the sections you need to update </b></p>

<form action="" method="POST">

    <!--Name-->
    <h3>Change your name:</h3>
    First Name: <input name="customerFirstName" type="text" value="{{userinfo.customer_first_name}}"  placeholder="First Name" ><br><br>
    Last Name: <input name="customerLastName" type="text" value="{{userinfo.customer_last_name}}"  placeholder="Last Name" >
    <br>
    
        <!--Submit-->
    <h3>Submit Updates:</h3>
    <input type="submit" value="Submit">
    
    </form>

    <!--Weight-
    <h3>Change your weight:</h3>
    Weight: <input name="customerWeight" type="number" value="{{userinfo.customer_weight}}"  placeholder="kg" min="20" max="400" >
    <br>
    <!--Height-
    <h3>Change your height:</h3>
    Height: <input name="customerHeight" type="number" value="{{userinfo.customer_height}}" placeholder="cm" min="40" max="300" >
    <br>    
    <!--PW-
    <h3>Change your password:</h3>
    Enter your old password<input name="customerOldPassword" type="text" placeholder="Old Password" ><br><br>
    Enter your new password<input name="customerNewPassword" type="text" placeholder="New Pasword">
    
    <br>
    <!--Sex
    <h3>Change your sex:</h3>
    Sex: 
    <input name="customerSex" type="radio" value="m">Male
    <input name="customerSex" type="radio" value="f">Female

-->



{% endblock %}
