{% extends "layout/default" %}

{% block "title" %}Profile{% endblock %}

{% block "content" %}

<h2>Change Your Account Info</h2>
<p>No need to fill in everything, <b>just fill in the sections you need to update </b></p>

{% include "partials/validation-errors" %}
    
<form action="" method="POST">

    <!--Name-->
    <h3>Change your name:</h3>
    First Name: <input name="customerFirstName" type="text" value="{{ customerData.customer_first_name }}"  placeholder="First Name" ><br><br>
    Last Name: <input name="customerLastName" type="text" value="{{ customerData.customer_last_name }}"  placeholder="Last Name" >
    <br>
    
    <h3>Change your weight:</h3>
    Weight: <input name="customerWeight" type="number" value="{{ customerData.customer_weight }}"  placeholder="kg" min="20" max="400" >
    <br>

    <h3>Change your height:</h3>
    Height: <input name="customerHeight" type="number" value="{{ customerData.customer_height }}" placeholder="cm" min="40" max="300" >
    <br>    

    <h3>Change your password:</h3>
    Enter your old password<input name="customerOldPassword" type="password" placeholder="Old Password" ><br><br>
    Enter your new password<input name="customerNewPassword" type="password" placeholder="New Pasword"><br><br>
    Enter your new password<input name="customerNewPasswordConfirm" type="password" placeholder="Confirm Pasword">
    <br>

    <h3>Change your sex:</h3>
    <input name="customerSex" type="radio" value="m" {% if customerData.customer_sex equals "m" %}checked{% endif %}>Male
    <input name="customerSex" type="radio" value="f" {% if customerData.customer_sex equals "f" %}checked{% endif %}>Female
    
    
        <!--Submit-->
    <h3>Submit Updates:</h3>
    <input type="submit" value="Submit">
    
    </form>








{% endblock %}
