{% extends "layout/default" %}

{% block "title" %}History{% endblock %}

{% block "content" %}

<h2>History</h2>

<div class="exercise-progress-buttons">
<select id="exercises">
    {% for ex in exercises %}
        <option value="{{ ex.exercise_id }}">{{ ex.exercise_name }}</option>
    {% endfor %}
</select>
<button id="show-progress">Show progress</button>
</div>

<table class="standardTable">
    {% for wk in workouts %}
    <tr><td><a href="/workout/{{ wk.workout_id }}">{{ wk.workout_date }}</a></td>
        <td><a href="/workout/{{ wk.workout_id }}">{{ wk.workout_name }}</a></td></tr>
    {% else %}
    <p>You have no workouts scheduled. Please contact your trainer.</p>
    {% endfor %}
</table>
{% include "partials/pagination" %}

{% endblock %}
{% block "js_bottom" %}
<script>
$("#show-progress").click(function(){
    window.location = "/progress/" + $("#exercises").val();
    return false;
});
</script>
{% endblock %}
