{% extends "layout/default" %}

{% block "title" %}Login{% endblock %}
{% block "content" %}

<h2>Login</h2>

{% if validationErrors is not empty %}
<ul>
    {% for err in validationErrors %}
    <li>{{ err}}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="POST">
    <input type="text" name="username" tabindex="1" required maxlength="100" placeholder="Username" value={{ formData.username }}>
           <input type="password" name="password" required placeholder="Password">
    <input type="submit" value="Login">
</form>

{% endblock %}
