{% extends "layout/default" %}

{% block "title" %}Workouts{% endblock %}

{% block "content" %}

<h2>Workouts</h2>

<h3>Current workout profile: [<i>{{ program.program_name }}</i>]</h3>
<p>{{ program.program_description }}</p>

<h3>Upcoming workout sessions:</h3>

{% set containsWorkouts = 0 %}

<table class="standardTable">
    {% for wk in workouts %}
    {% set containsWorkouts = 1 %}
    <tr><td><a href="/workout/{{ wk.workout_id }}">{{ wk.workout_date }}</a></td>
        <td><a href="/workout/{{ wk.workout_id }}">{{ wk.workout_name }}</a></td></tr>
    {% endfor %}

    {% if (containsWorkouts == 0) %}
    <tr><td colspan="2" class="standardTableErrorText"><b>You have no workouts scheduled. Please contact your trainer.</b></td></tr>
    {% endif %}
</table>

{% endblock %}
