{% extends "layout/default" %}

{% block "title" %}Workout{% endblock %}

{% block "content" %}


<h2>{{ workout.workout_name }}</h2>
<p>{{ workout.workout_description }}</p>

<form method="POST" action="">
    <table class="setTable">

        {% set exercise_id = -1 %}
        {% set containsSet = 0 %}

        {% for set in sets %}
        {% set containsSet = 1 %}

        {% if exercise_id != set.exercise_id %}
        {% set exercise_id = set.exercise_id %}
        <tr><td colspan='2' class='exerciseTitle'>{{ set.exercise_name }}</td></tr>
        <tr><td colspan='2' class='exerciseDescription'>{{ set.exercise_description }}</td></tr>
        {% endif %}

        <tr class='exerciseSet'>
            <td><span class='bold'>{{ set.set_reps_planned }}</span> reps with <span class='bold'>{{ set.set_weight_planned }}</span> Kg</td>
            <td><input type="number" name="set-{{ set.set_id }}-RepsDone"  placeholder="Reps done" min='0' max="100">
                <input type="number" name="set-{{ set.set_id }}-LoadUsed" placeholder="Load used" min='0' max="1000"></td></tr>
        {% endfor %}


        {% if (containsSet == 0) %}
        <tr><td colspan="2" class="setTableErrorText"><b>No exercises have been added to this workout. Please contact your trainer.</b></td></tr>
        {% endif %}

        {% if (containsSet == 1) %}
        <tr><td colspan="2"><input class="setTableSubmitButton" type="submit" value="Submit"></td></tr>
        {% endif %}

    </table>
</form>


{% endblock %}
