{% extends "layout/default" %}

{% block "title" %}Workout{% endblock %}

{% block "content" %}


<h2>History</h2>
<h2>{{ workout.workout_name }}</h2>

<form method="POST" action="">
    <table class="setTable">

        {% set exercise_id = -1 %}
        {% set containsSet = 0 %}

        {% for set in sets %}
            {% set containsSet = 1 %}

            {% if exercise_id != set.exercise_id %}
                {% set exercise_id = set.exercise_id %}
                <tr><td class='exerciseTitle'>{{ set.exercise_name }}</td></tr>
            {% endif %}

            <tr class='exerciseSet'>
                <td><span class='bold'>     
                    {% if set.set_reps_done is null %}
                        0
                    {% elseif set.set_reps_done is not null %}
                        {{ set.set_reps_done }}
                    {% endif %}
                    </span> reps with 
                    <span class='bold'>
                    {% if set.set_weight_done is null %}
                        0
                    {% elseif set.set_weight_done is not null %}
                        {{ set.set_weight_done }}
                    {% endif %}
                    </span> Kg
                </td>
            </tr>
            {% endfor %}

        {% if (containsSet == 0) %}
            <tr><td class="setTableErrorText"><b>This workout contains no exercises. Please notify your trainer.</b></td></tr>
        {% endif %}
        <tr><td class="setTableUserComment"><span class='bold'>Your comment:</span>
            {% if workout.workout_comment == "" %}
                <i>No comment registered.</i>
            {% elseif workout.workout_comment is not null %}
                {{ workout.workout_comment }}
            {% endif %}
        </td></tr>
    </table>
</form>


{% endblock %}
