{% extends "layout/default" %}

{% block "title" %}Workout{% endblock %}

{% block "content" %}


<h2>{{ workout.workout_name }}</h2>
<ul>
    <li>{{ workout.workout_description }}</li>
</ul>

<table class="setTable center">
    {% set exercise_id = -1 %}

    {% for set in sets %}

    {% if exercise_id != set.exercise_id %}
    {% set exercise_id = set.exercise_id %}
    <tr><td colspan='3' class='exerciseTitle'>{{ set.exercise_name }}</td></tr>
    <tr><td colspan='3' class='exerciseDescription'>{{ set.exercise_description }}</td></tr>
    {% endif %}

    <tr class='exerciseSet'><td>{{ set.set_reps_planned }} reps with {{ set.set_weight_planned }} Kg</td><td>[Reps completed]</td><td>[Load used]</td></tr>

    {% else %}
    <p>You have no workouts scheduled. Please contact your trainer.</p>
    {% endfor %}
</table>


{% endblock %}
