{% extends "admin/admin-layout" %}

{% block "title" %}Add New Exercise{% endblock %}

{% block "content" %}

    {% include "partials/validation-errors" %}

    <form action="" method="POST">

        <fieldset>
            <legend><label for="exerciseName">Exercise Name:</label></legend>
            <input id="exerciseName" 
                   name="exerciseName" type="text" 
                                    placeholder="Exercise name"
                                    value="{{ formData.exerciseName }}">
        </fieldset>

        <fieldset>
            <legend><label for="exerciseDesc">Description:</label></legend>
            <textarea name="exerciseDesc" placeholder="Description">{{ formData.exerciseDesc }}</textarea>
        </fieldset>

        <div>
        <input type="submit" value="Add Exercise">
        </div>

    </form>


{% endblock %}
