{% extends "admin/admin-layout" %}

{% block "title" %}Edit Program{% endblock %}

{% block "content" %}

{% include "partials/validation-errors" %}

<form action="" method="POST">

    <fieldset>
        <legend><label for="programName">Program Name:</label></legend>
        <input id="programName"
               name="programName" type="text"
               placeholder="Program Name"
               value="{{ program.program_name }}">
    </fieldset>

    <fieldset>
        <legend><label for="programDesc">Description:</label></legend>
        <textarea rows="8" cols="50" name="programDesc" placeholder="Program Description">{{ program.program_description }}</textarea>
    </fieldset>

    <fieldset>
        <input type="submit" value="Update program">
    </fieldset>

</form>


{% endblock %}
