{% extends "admin/admin-layout" %}

{% block "title" %}Customers{% endblock %}

{% block "content" %}

    <h2>Customers</h2>

    <table class="standardTable">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th></th>
        </tr>
        {% for cu in customers %}
            <tr>
                <td>{{ cu.customer_first_name }}</td>
                <td>{{ cu.customer_last_name }}</td>
                <td><a class="link-button" href="/admin/add-new-workout/{{ cu.customer_program_id }}">Add New Workout</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
