{% extends "admin/admin-layout" %}

{% block "title" %}Add New Customer{% endblock %}

{% block "content" %}

    {% include "partials/validation-errors" %}

    <form action="" method="POST">

        <fieldset>
            <legend><label for="firstName">First Name:</label></legend>
            <input id="firstName" 
                   name="firstName" type="text" 
                                    placeholder="First name"
                                    value="{{ formData.firstName }}">
        </fieldset>

        <fieldset>
            <legend><label for="lastName">Last Name:</label></legend>
            <input type="text" name="lastName"  placeholder="Last name"
                                    value="{{ formData.lastName }}">
        </fieldset>

        <fieldset>
            <legend><label for="userEmail">User email:</label></legend>
            <input type="text" name="userEmail"  placeholder="User email"
                                    value="{{ formData.userEmail }}">
        </fieldset>

        <fieldset>
            <legend><label for="userDateOfBirth">Date of Birth:</label></legend>
            <input type="date" name="userDateOfBirth"  placeholder="Date of Birth"
                                    value="{{ formData.userDateOfBirth }}">
        </fieldset>
        
        <fieldset>
            <legend><label for="userWeight">Weight:</label></legend>
            <input type="number" min="10" max="1000" name="userWeight"  placeholder="Weight"
                                    value="{{ formData.userWeight }}">
        </fieldset>
        
       <fieldset>
            <legend><label for="userHeight">Height:</label></legend>
            <input type="number" min="10" max="1000" name="userHeight"  placeholder="Height"
                                    value="{{ formData.userHeight }}">
        </fieldset>
        
       <fieldset>
            <legend>Sex:</legend>
            <label for="sexMale">Male: </label><input id="sexMale" type="radio" name="userSex" value="m" {% if formData.userSex equals "m" %}checked{% endif %}>
            <label for="sexFemale">Female: </label><input id="sexFemale" type="radio" name="userSex" value="f" {% if formData.userSex equals "f" %}checked{% endif %}>
        </fieldset>

        
        <fieldset>
            <legend><label for="userPassword">User password:</label></legend>
            <input type="password" name="userPassword"  placeholder="User password">
        </fieldset>
        
        <fieldset>
            <legend><label for="userPasswordConfirm">Confirm password:</label></legend>
            <input type="password" name="userPasswordConfirm"  placeholder="User password">
        </fieldset>
        

        
        
        <div>
        <input type="submit" value="Create User">
        </div>

    </form>


{% endblock %}
