

html {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


body {
    background: #eaeaea;
    color: #000000;
}


header, footer {
    background: #45619d;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
}
header ul, footer ul {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0 0 0 0;
}
header li, footer li {
    display: inline-block;
    margin: 0.1rem 0 0.1rem 0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background: #b6b6b6;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
}
header li:hover, footer li:hover {
    background: #388dcb;
    color: #000000;
}


.new-form-entry{
    margin: 1.5em 0;
}


main {
    background: #ffffff;
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
}
main ul {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0 0 0 0;
}
main li {
    display: inline-block;
    margin: 0.1rem 0 0.1rem 0;
    text-decoration: none;
    color: #242424;
}


.standardTable {
    margin-left: auto; 
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    margin: 0 0 1rem 0;
    display: inline-block;
    border: 2px solid #000000;
    background: #dddddd;
    border-radius: 5px;
}
.standardTable tr:hover {
    background: #388dcb;
    color: #000000;
}
.standardTable td {
    border: 1px solid #000000;
    padding: 0 0 0 0;
}
.standardTable a {
    text-decoration: none;
    color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0.2rem 1rem 0.2rem 0;
}


.setTable {
    margin-left: auto; 
    margin-right: auto;
    padding: 0 1.5rem 1.5rem 1.5rem;
    max-width: 35rem;
    margin: 0 0 2rem 0;
    background: #eeeeee;
    border-collapse: collapse;
    text-align: center;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 5px;
}
.setTable input {
    width: 5.5rem;
}
.exerciseTitle {
    padding: 1.2rem 0.2rem 0rem 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}
.exerciseDescription {
    font-style: italic;
    border: none;
    padding: 0.4rem 0.2rem 0.8rem 0.2rem;
}
.exerciseSet {
    border: 1px solid #000000;
    background: #dddddd;
}
.bold {
    font-weight: bold;
}