html {
    background: #eaeaea;
}

body {
    color: #242424;
}

main {
    background: #ffffff;
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 1rem 25% 1rem 25%;
    border: 2px solid #000000;
    border-radius: 5px;
}

header, footer {
    background: #45619d;
    text-align: center;
    margin: 1rem 25% 1rem 25%;
    border: 2px solid #000000;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

li {
    display: inline-block;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: 2px solid #000000;
    background: #b6b6b6;
    border-radius: 5px;
}

li:hover {
    background: #388dcb;
}

p {
    margin: 0 0.5rem 0 0.5rem;
}

a {
    color: #242424;
}

/*fieldset {
    margin: 0.5rem 2rem 0.5rem 2rem;
}*/

input {
    margin: 0.5rem;
}

/*button {
    background: #494949;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #222222;
}*/