<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block "title" %}{% endblock %} :: Training Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/training_application.css">
        <script src="/static/jquery.js"></script>
    </head>
    <body>
        <header>

            <ul id="logoContainer">
                <li id="logoText">Training Application</li>
            </ul>

            <nav>
            <ul>
                <li><a href="/">Profile</a></li>
                <li><a href="/workouts">Workouts</a></li>
                <li><a href="/history">History</a></li>
                {% if currentUser.isAuthenticated %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
            </nav>
        </header>
        <main>
            {% if flashMessage is not empty %}
            <div class="flash-message">{{ flashMessage }}</div>
            {% endif %}
            {% block "content" %}{% endblock %}
        </main>
        <footer>
            <nav>
            <ul>
                <li><a href="/help">Help</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tos">ToS</a></li>
            </ul>
            </nav>
        </footer>
        <script src="/static/training_application.js"></script>
        {% block "js_bottom" %}{% endblock %}
    </body>
</html>
